* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 90%;
}

h1 {
  text-align: center;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 0;
}

textarea {
  margin-bottom: 0.8rem;
  resize: none;
}

.texareaTo {
  margin-top: 2rem;
}

.btnsMain {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 15px;
  border-radius: 5px;
  background: #1095c1;
}

.btnsMain button {
  margin-bottom: 0;
  border: none;
  outline: none;
  background: #11191f;

}

#change i {
  transform: rotate(90deg);
}

div.btn-solo {
  display: grid;
  grid-template-columns: 1fr;
}

/*------------------------ MEDIA QUERYS --------------------*/
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 40% 20% 40%;
  }

  h1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* -------------------BOTONES PRINCIPALES---------------- */
  section.btnsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80px;
    margin: 0 auto;
  }

  #change {
    padding: 12px 0;
  }

  #change i {
    transform: rotate(0deg);
  }

  /* ------------------------------------------------------ */

  /* --------------------SECCION TEXTAREAS----------------- */

  section.texareaTo,
  section.texareaFrom {
    margin: 0;
  }

  /* ------------------------------------------------------ */
}
